{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Kakao Cloud School - Study Blog{% endblock %}
{% block contents %}
<section class="vh-200 gradient-custom"  style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
  <div margin-top="10px">  <br> </div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <form method="post">
                {% csrf_token %}
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <br>
<!--                <p class="text-white-50 mb-5">ID와 비밀번호를 입력해 주세요.</p>-->

                <div class="form-outline form-white mb-4">
                  <input type="email" name="username" class="form-control form-control-lg" placeholder="Email ID" />
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" name="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" />
                </div>

<!--                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">비밀번호 재설정</a></p>-->

                <button class="btn btn-outline-light btn-lg px-5" type="submit">로그인</button>
              </form>
            </div>
            <div class="text-center">
                <form action="{% provider_login_url 'kakao' method='oauth2' %}" method="post">
                  {% csrf_token %}
                  <button id="custom-login-btn" href="{% provider_login_url 'kakao' method='oauth2' %}">
                      <img
                              src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                              width="222"
                              alt="카카오 로그인 버튼"
                      />
                  </button>
                </form>
            </div>

            <div>
              <p class="mb-0">계정이 없으신가요? <a href="{% url 'account_signup' %}" class="text-white-50 fw-bold"> 회원 가입 </a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


